.octodex{
  font-size: 60px;
  font-weight: bold;
}

.octocat {
  width: 32%;
  display: inline-block;
  margin: 0px 50px 0px 0px;
  padding-bottom: 35px;
  border-style: solid;
  border-color: transparent transparent #CACACA transparent;
  border-width: 0px 0px 2px 0px;
}

.octocat img{
  width: 100%;
  border: solid #CACACA 7px;
  border-radius: 15px;
  margin: 0px 25px 0px 0px;
  padding: 0px;
}

.image-footer{
  vertical-align: middle;
}

.image-number{
  color: #CACACA;
  display: inline-block;
  float: left;
  width: 100px;
  position: relative;
  top: 10px;
}

.image-caption{
  color: #777777;
  display: inline-block;
  float: right;
}

.image-caption a{
  font-weight: bold;
  text-decoration: none;
  color: #333333;
  display: inline-block;
}

.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 35px 0 35px;
  border-color: #CACACA transparent transparent transparent;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-right: 0px;
  margin-left: 95%;
  margin-top:0px;
  margin-bottom: 0px;
  position: relative;
  top: -20px;
  right: 25px;
  float: right;
}

ul{
  list-style: none;

}

li{
  display: inline-block;
}

.authors{
  display: inline-block;
  margin-right: 0px;
  padding: 0px;
  vertical-align: middle;
}

.authors img{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0px;
  float: right;

}
